<div id="content">
            <br>
            <!-- 主贴 -->
            <table cellspacing="0" class="forumpost">
                <tbody><tr class="header">
                    <td class="picture left">
                        <img src="__PUBLIC__/{$msg.image}" height="35" width="35">
                    </td>
                    <td class="topic starter">
                        <div class="subject">{$msg.title}</div>
                        <div class="author">
                            由 {$msg.username}                          发表于 {$msg.time}                     </div>
                    </td>                   
                </tr>
                <tr>
                    <td class="left side"></td>
                    <td class="content"> 
                        <div class="posting">                           
                            {$msg.body}                                                                   <div class="commands">
        <a href="{:U('rmsg/recipemsg',array('msgid' => $msg[id]))}">回复</a>
    </div>                      </div>
                        
                    </td>
                </tr>

            </tbody></table> 
            <!-- 回帖列表 -->
            <foreach name="msg.rmsgs" item="vo">
            <table cellspacing="0" class="forumpost" style="margin-left: 50px;">
    <tbody><tr class="header">
        <td class="picture left">
            <img src="__PUBLIC__/{$vo.image}" height="35" width="35">
        </td>
        <td class="topic">
            <div class="subject">回复: </div>
            <div class="author">由 {$vo.username} 发表于 {$vo.time}</div>
        </td>
    </tr>
    
    <tr>
        <td class="left side">&nbsp;</td>
        <td class="content"> 
            <div class="posting"> 
                {$vo.body}                                <br><br>                        
            </div>
                            
            <div class="commands">
                <a href="/rmsg/editrmsg/rmsgid/{$vo.id}">编辑</a> | 
                <a href="{:U('rmsg/deletermsg',array('rmsgid' => $vo[id],'ruser_id' => $vo[userid]))}">删除</a>
            </div>      </td>
    </tr>
</tbody></table>  
    </foreach>
            <!-- 回帖列表 -->
        </div>