<div id="content"> 
<div class="loginbox clearfix twocolumns"> 
  <div class="loginpanel"> 
    <h2>欢迎访问本站</h2> 
      <div class="subcontent loginsub"> 
        <div class="desc"> 
          请使用用户名和密码登录<br>(您的浏览器的Cookies设置必须打开)</div> 
        <form action="" method="post" id="login"> 
          <div class="loginform"> 
            <div class="form-label">
                <label for="username">用户名</label>
            </div> 
            <div class="form-input"> 
              <input type="text" name="username" id="username" size="15" value="" /> 
            </div> 

            <div class="clearer"></div> 

            <div class="form-label">
                <label for="password">密码</label>
            </div> 
            <div class="form-input"> 
              <input type="password" name="password" id="password" size="15" value="" /> 
            </div> 

            <div class="clearer"></div> 

            <div class="form-label">
                <label for="password">保持登录</label>
            </div> 
            <!-- <div class="form-input" id="time">  -->
              <input type="radio" name="day" value="1" />1天       
              <input type="radio" name="day" value="7" />1周
             <input type="radio" name="day" value="31" />1月
              <input type="radio" name="day" value="365" />1年
            <!-- </div> --> 
            
            <div class="clearer"></div> 

            <div class="form-input"> 
              <input type="submit" name="login" id="submit" value="登录" /> 
            </div> 

            <div class="clearer"></div> 
          </div> 
        </form> 
      </div> 
      
     </div> 
    <div class="signuppanel"> 
      <h2>常见问题</h2> 
      <div class="subcontent"> 
        <p><b>还没有用户名？</b> <br> 
            本留言板必须用户登录后，才可以发表留言，游客只能查看留言，还等什么，快来<a href="register.php">注册</a>吧！<br>
            <br>
            <b>忘记密码了？</b> <br> 
            密码忘记了，怎么办呢？还记得注册时填写的密码保护问题吗？快去<a href="fetchPswd.php">重设密码</a>吧！<br></p>      </div> 
      </div> 
</div> 
 
</div>